header {
  display: flex;
  justify-content: center;
  background-color: #0077be;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin: 0;
}

.search {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  width: 223px;
}

.search form {
  display: flex;
  flex-direction: column;
}

.search form input,
.search form button {
  margin-bottom: 1rem;
}

.search label {
  font-size: 14px;
}

.search input[type="text"] {
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 10px;
  width: 200px;
  margin-right: 10px;
}

.search button[type="submit"] {
  background-color: #007bff;
  width: 223px;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
}

.search button[type="submit"]:hover {
  background-color: #0062cc;
}

.current-weather {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 75px;
  margin-top: -185px;
  margin-left: 240px;
}

#current-weather-data {
  margin-left: -30px;
}

.forecast h3 {
  margin-left: 240px;
}

.forecast-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 180px;
}

.forecast-cards > div {
  background-color: slategray;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: calc(12% - 20px);
}

.forecast-cards > div > h4 {
  margin-bottom: 10px;
  color: white;
}

.forecast-cards > div > img {
  margin: 0 auto;
  display: block;
  max-width: 80%;
  height: auto;
}

.forecast-cards > div > p {
  margin: 10px 0;
  color: white;
}

.btn-city {
  background-color: lightgray;
  border: none;
  margin-bottom: 15px;
  width: 222px;
  padding: 10px;
}

#city-list {
  list-style: none;
}
